*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    background-image: url(download.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.section1 figure {
    margin-top: 30px;
}
.section1 figure img{
    height: 200px;
}
.btn-primary{
    margin-left: 200px;
}
.card-body{
    text-align: center;
}
.progress{
    margin-left: 30px;
    width: 350px;
}
.row{
    margin-left: 70px;
}
.fluid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 40px;
}
.card {
    margin-top: 40px;
}
.footer {
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 29px;
    align-items: center;
    color: #fff;
    padding: 0 25px;
}